---
import CountUpComponent from "../Hero/CountUpComponent";
---
<div class="flex  lg:flex-row flex-col items-center gap-12 w-full mt-12 mb-12">
  <div class="w-full order-1">
    <h1 class="lg:text-4xl text-3xl mb-4 font-title">About Placement</h1>
    <p class="mb-8 lg:text-base text-md text-slate-500">
      The Training and Placement department serves as a bridge between the
      academic environment and the industry by establishing connections with
      various companies and organizations. The ultimate aim of the T&P
      department is to ensure that students are well-prepared for the job market
      and have access to the resources they need to achieve their career goals.
    </p>
    <button
      class="text-slate-500 hover:bg-slate-100 active:bg-slate-50 transition-all border border-gray-300 rounded-xl px-4 py-2"
      >Visit our Guidelines</button
    >
  </div>
  <div class="w-3/4 mx-auto order-2">
    <div class="mb-6 flex flex-col justify-center gap-6 rounded-xl">
      <img
        src="/Placement/placementsPage.jpg"
        class="w-full aspect-auto rounded-xl"
        alt="image-of-a-female-student-pointing-towards-a-laptop-screen"
      />
      <div class="flex justify-between sm:flex-row flex-col items-center gap-3">
        <div class="w-full md:w-max">
          <CountUpComponent
            client:only="react"
            start={0}
            end={1685}
            title="Number of students placed (2019-22)"
          />
        </div>
        <div class="w-full md:w-max">
          <CountUpComponent
            client:only="react"
            start={0}
            end={672}
            title="Number of companies visited (2019-22)"
          />
        </div>
      </div>
    </div>
  </div>
</div>
