---
import SuperStarPerformers from './SuperStarPerformers';
---

<div class="px-12 pb-12 border-b">
     <!-- Header  -->
    <div class="text-center bg-[#EFF8FF] text-4xl font-title p-3 rounded-lg">Super Star Performers</div>

    <!-- Super Star Performers  -->
    <SuperStarPerformers client:load/>
   
</div>