---
import CountUpComponent from "./CountUpComponent";
import HeroSwiper from "./HeroSwiper";
---

<>
  {/* Text of the HeroSection */}
  <div class="grid md:flex">
    <div class="p-10 w-[50%] max-md:w-[100%]">
      <button class="flex bg-[#F2F4F7] p-[.5rem] rounded-[19px]">
        <div class="px-3">Visit Our Guidelines</div>
        {/* Svg for arrow in button */}
        <svg
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <rect width="24" height="24" rx="12" fill="#E4E7EC"></rect>
          <path
            d="M6.16663 12H17.8333M17.8333 12L12 6.16669M17.8333 12L12 17.8334"
            stroke="#101828"
            stroke-width="1.5"
            stroke-linecap="round"
            stroke-linejoin="round"></path>
        </svg>
      </button>
      <div class="font-title text-[2rem] lg:text-[2.4rem]">
        "Unlock Your Career Potential with Training And Placement Cell - Where
        Dreams Meet Opportunities!"
      </div>
    </div>
    <div class="w-[100%] p-10 justify-between flex flex-col md:w-[50%]">
      <div
        class="text-[#475467] text-[1rem] lg:text-[1.1rem] leading-[28px] tracking-wider"
      >
        The Training and Placement department serves as a bridge between the
        academic environment and the industry by establishing connections with
        various companies and organizations. The ultimate aim of the T&P
        department is to ensure that students are well-prepared for the job
        market and have access to the resources they need to achieve their
        career goals.
      </div>
      <button
        class="my-6 p-3 rounded-2xl mr-auto border-2 border-solid border-[#E5E5E5]"
      >
        View More
      </button>
    </div>
  </div>

  {/* Numbers and text inside it */}
  <div class="grid justify-evenly lg:flex">
    <div class="ml-6 max-w-[100%] lg:max-w-[40%]">
      <div class="flex justify-evenly m-[1.2rem]">
        <div
          class="max-w-[11rem] p-4 m-3 rounded-2xl border-2 border-solid border-[#E5E5E5]"
        >
          {" "}
          <div class="text-title text-2xl">
            <CountUpComponent client:load start={0} end={852} />
          </div>
          <div class="">Number of students placed</div>
        </div>
        <div
          class="max-w-[11rem] p-4 m-3 rounded-2xl border-2 border-solid border-[#E5E5E5]"
        >
          {" "}
          <div class="text-title text-2xl">
            <CountUpComponent client:load start={0} end={7400} />
          </div>
          <div class="">Number of companies visited</div>
        </div>
      </div>
      <div class="flex justify-evenly m-[1.2rem]">
        <div
          class="max-w-[11rem] p-4 m-3 rounded-2xl border-2 border-solid border-[#E5E5E5]"
        >
          {" "}
          <div class="text-title text-2xl">
            <CountUpComponent client:load start={0} end={7400} />
          </div>
          <div class="">Students with 10+ LPA packages</div>
        </div>
        <div
          class="max-w-[11rem] p-4 m-3 rounded-2xl border-2 border-solid border-[#E5E5E5]"
        >
          {" "}
          <div class="text-title text-2xl">
            <CountUpComponent client:load start={0} end={7400} />
          </div>
          <div class="">Number of companies that come to TCET</div>
        </div>
      </div>
    </div>

    {/* Swiper/ Carousel */}
    <HeroSwiper client:load />
  </div>
</>
