---
import TopPlacedStudents from "./TopPlacedStudents";
---

<div class="px-12">
  <div class="border-[1px] rounded-md px-8">
    <div class=" py-4">TOP PLACED STUDENTS</div>
    <TopPlacedStudents client:load/>
  </div>
</div>
