---
import TopPlacedStudents from "./TopPlacedStudents.jsx";
---

<div class="">
  <div class="border rounded-md px-4 xl:px-6">
    <div class=" py-4 font-semibold text-slate-600 xl:text-lg  " >TOP PLACED STUDENTS</div>
    <TopPlacedStudents client:load/>
  </div>
</div>
