---
import Testimonial from "./Testimonial";

const testiObj = [
{
    name: "One Long Name Ka mu Cha",
    photo: "/Avatar.jpg",
    review:
      "Justo cras orci id et neque viverra. Eros fringilla consequat facilisis feugiat vestibulum quam velit. Dapibus ut sit lorem ultricies donec netus. Justo cras orci id et neque viverra. Eros fringilla consequat.",
    position: "Faculty",
    department: "Computer"
  },
  {
    name: "One Long Name Ka mu Cha",
    photo: "/Avatar.jpg",
    review:
      "Justo cras orci id et neque viverra. Eros fringilla consequat facilisis feugiat vestibulum quam velit. Dapibus ut sit lorem ultricies donec netus. Justo cras orci id et neque viverra. Eros fringilla consequat.",
    position: "Faculty",
    department: "Computer"
  },
  {
    name: "One Long Name Ka mu Cha",
    photo: "/Avatar.jpg",
    review:
      "Justo cras orci id et neque viverra. Eros fringilla consequat facilisis feugiat vestibulum quam velit. Dapibus ut sit lorem ultricies donec netus. Justo cras orci id et neque viverra. Eros fringilla consequat.",
    position: "Faculty",
    department: "Computer"
  },
  {
    name: "One Long Name Ka mu Cha",
    photo: "/Avatar.jpg",
    review:
      "Justo cras orci id et neque viverra. Eros fringilla consequat facilisis feugiat vestibulum quam velit. Dapibus ut sit lorem ultricies donec netus. Justo cras orci id et neque viverra. Eros fringilla consequat.",
    position: "Faculty",
    department: "Computer"
  },
  {
    name: "One Long Name Ka mu Cha",
    photo: "/Avatar.jpg",
    review:
      "Justo cras orci id et neque viverra. Eros fringilla consequat facilisis feugiat vestibulum quam velit. Dapibus ut sit lorem ultricies donec netus. Justo cras orci id et neque viverra. Eros fringilla consequat.",
    position: "Faculty",
    department: "Computer"
  },
  {
    name: "One Long Name Ka mu Cha",
    photo: "/Avatar.jpg",
    review:
      "Justo cras orci id et neque viverra. Eros fringilla consequat facilisis feugiat vestibulum quam velit. Dapibus ut sit lorem ultricies donec netus. Justo cras orci id et neque viverra. Eros fringilla consequat.",
    position: "Faculty",
    department: "Computer"
  },
  
];
---

<div><Testimonial data= {testiObj} client:load /></div>
