<section class="md:grid flex flex-wrap xl:grid-cols-2 md:pt-5">
        <div class="flex justify-between">
            <img src="../../public/about/aboutTnp.png" alt="tnp-pic" class="rounded-xl">
        </div>
        <div class="justify-items-center flex flex-col gap-4">
            <div class="font-title text-4xl">About TNP</div>
            <p class="text-lg">random things about tnp cell which you should now, 1 job to milne se rahi In the present scenario of globalization there is tremendous demand for skilled manpower particularly in the area of Engineering and Technology. Therefore, Training and Placement (T&P) was set up with a view to provide necessary impetus to launch our students into the real world where cut-throat competition is the order of the day. It plays a vital role in finding suitable job opportunities for students and at same time tying up with industries and professional organizations for fruitful and mutually beneficial linkages</p>
        </div>
</section>