---
import ContactForm from "../components/About/ContactForm";
import type { StaffTNP } from "../env";
import Staff from "../components/About/Staff";
import Layout from "../layouts/Layout.astro";

const getData = async () => {
  const response = await fetch(`${import.meta.env.PUBLIC_URL}/api/staffs?populate=*`);
  const data = await response.json();
  return data;
}

const tnpStaff = await getData();

---

<Layout
  title="TCET - Training and Placement Cell"
  description="The official Website of Training and Placement Cell of Thakur College of Engineering and Technology"
>
  <main class="block space-y-6 md:space-y-12 lg:space-y-24 w-full px-8 md:px-16">
    ...
    <section>
      <div
        class="w-full h-16 bg-gray-100 flex justify-center text-4xl font-title py-3.5 mb-2 xl:mb-4 rounded-xl"
      >
        Staff
      </div>
      <div>
        <Staff client:load data={tnpStaff} />
      </div>
    </section>
    ...
  </main>
</Layout>
