---
import ContactForm from "../components/About/ContactForm";
import Staff from "../components/About/Staff";
import TNPabout from "../components/About/TNPabout.astro";
import type { StaffTNP } from "../env";
import Layout from "../layouts/Layout.astro";

const tnpStaff : Array<StaffTNP> = [{
    StaffName: 'john Doe',
    designation: 'Software Engineer',
    staffFoto: 'pfp-pixelated.png',
    experties: 'Quantam Rizzics'
},{
    StaffName: 'john Doe',
    designation: 'Rizzer',
    staffFoto: 'pfp-pixelated.png',
    experties: 'Quantam Rizzics'
},{
    StaffName: 'john Doe',
    designation: 'Rizzer',
    staffFoto: 'pfp-pixelated.png',
    experties: 'Quantam Rizzics'
},{
    StaffName: 'john Doe',
    designation: 'Rizzer',
    staffFoto: 'pfp-pixelated.png',
    experties: 'Quantam Rizzics'
},{
    StaffName: 'john Doe',
    designation: 'Rizzer',
    staffFoto: 'pfp-pixelated.png',
    experties: 'Quantam Rizzics'
}]
---

<Layout
  title="TCET - Training and Placement Cell"
  description="The official Website of Training and Placement Cell of Thakur College of Engineering and Technology"
>
  <main class="block space-y-6 md:space-y-12 w-full px-8 md:px-16">
    <TNPabout />
    <section>
        <div class="w-full bg-[#f2f4f7] flex justify-center text-4xl font-title py-3.5 rounded-xl">Staff</div>
        <div>
            <Staff client:load data={tnpStaff} />
        </div>
    </section>
    <section class="lg:grid lg:grid-cols-2 gap-4">
        <div>
            <img src="../../public/about/contactTnp.png" alt="contact-tnp" class="hidden lg:block rounded-xl">
        </div>
        <div class="flex flex-col gap-4">
            <div class="flex flex-col gap-6">
                <div class="text-5xl font-title">Contact us</div>
                <div class="text-xl">Viverra sodales turpis fames ullamcorper ullamcorper quis lectus dignissim. Mattis nibh augue mauris malesuada pellentesque sapien donec lacus.</div>
            </div>
            <ContactForm />
        </div>
    </section>
  </main>
</Layout>
