---
import Layout from "../layouts/Layout.astro";
---
<Layout
  title="Guidelines | TCET - Training and Placement Cell"
  description="The official Website of Training and Placement Cell of Thakur College of Engineering and Technology"
>
  <main>
    <section class="block space-y-6 md:space-y-12 w-full px-8 md:px-16">
        <div class="text-gray-900 body-font">
            <div class=" px-5 py-5 mx-auto">
                <div class="xl:w-11/12 w-full mx-auto">
                    <div class="h-full bg-white p-8 rounded-2xl shadow-md border-2">

                        <div class='text-center p-2 2xl:text-5xl xl:text-4xl md:text-3xl text-xl'><b>Guidelines for Campus Placement</b></div>
                        <div class="leading-relaxed mb-3 text-justify 2xl:text-2xl xl:text-xl md:text-base text-sm p-2">
                            <ul class='list-disc p-1'>
                                <li>
                                    <p>Refer the T&P Notice Board/College Website every day.</p>
                                </li>

                            <li>
                                <p>Read each line of the notice Carefully and Thoroughly.</p>
                            </li>

                            <li>
                                <p>Only Eligible Students are allowed for placement as per Criteria set by the Companies. If. Any student is found appearing for placement beyond the mentioned criteria, He / she will be eliminated from the placement process.</p>
                            </li>

                            <li>
                                <p>Punctuality during campus placement should be maintained. Students who reach late will not be allowed for the placement process.</p>
                            </li>

                            <li>
                                <p>Students must carry their identity card, an updated copy of resume and photo copy of marks sheets (HSC, SSC, Diploma, All Semesters) in a proper folder.</p>
                            </li>

                            <li>
                                <p>Students should carry their resumes in the format (Soft Copy is Maintained with the placement Cell) provided by the institute. The class representative should submit resumes of all students (of respective Class) in a CD to the placement office.</p>
                            </li>

                            <li>
                                <p>Placement card are maintained by the placement cell. Students must collect their cards one day prior to the placement process and submit them on the same day after the completion of the process.</p>
                            </li>

                            <li>
                                <p>Students must go through the website of the company thoroughly before the placement process.</p>
                            </li>

                            <li>
                                <p>Formal dress is Compulsory, Boys are instructed to wear light color paint shirt, dark color trouser and tie, Girls are instructed to wear either a decent cotton salwar kurta or light color formal Shirt and trouser, Formal Shoes are compulsory, Jeans Sports Shoes are not allowed.</p>
                            </li>

                            <li>
                                <p>The students who registered for a company are expected to appear for the entire recruitment process of the company. If they fail to appear, they will not be considered for the placement further.</p>
                            </li>

                            <li>
                                <p>Dignity and decorum should be maintained throughout the process, especially during the Company’s Presentation.</p>
                            </li>

                            <li>
                                <p>Parents should be informed about the placement process on the day of the Campus placements, as the process may be extended till late evening.</p>
                            </li>

                            <li>
                                <p>Details must be entered Completely, Correctly and Meticulously on</p>
                            </li>
                            <li>
                                <p>Contact T & P Cell for Further Queries:-tcet.tnp@thakureducation.org.</p>
                            </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
        </div>
    </section>
  </main>
</Layout>