---
import Layout from "../layouts/Layout.astro";
import TopRecruiters from "../components/TopRecruiters/index.astro";
import Testimonial from "../components/Testimonials/index.astro";
import HeroSection from "../components/Hero/HeroSection.astro";
import TopPlaceStudents from "../components/TopPlacedStudents/index.astro";
import StudentAward from "../components/StudentAward/StudentAward.jsx";
---
<Layout
  title="TCET - Training and Placement Cell"
  description="The official Website of Training and Placement Cell of the Thakur College of Engineering and Technology"
>
 <main class="block !space-y-6 md:!space-y-12 lg:!space-y-24 w-full px-8 md:px-16 overflow-hidden ">
    <HeroSection />
    <TopRecruiters />
    <section class="" >

      <StudentAward client:load/>
    </section>
    <TopPlaceStudents />
    <!-- <Testimonial /> -->
    <!-- Industry Interaction Page Component Below -->
    <!-- <IndustryInteraction client:load /> -->

  </main>
</Layout>
