---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import HeroSection from "../components/HeroSection.jsx";
---
<Layout
  title="TCET - Training and Placement Cell"
  description="The official Website of Training and Placement Cell of Thakur College of Engineering and Technology"
>
  <main class="block w-full">
    <h1 class="text-4xl w-fit mx-auto">
      Welcome to TCET - Training and Placement Cell's website
    </h1>
  </main>
</Layout>
<HeroSection />
