---
import Layout from "../layouts/Layout.astro";
import InternshipHero from "../components/Internships/InternshipHero.astro";
import InternshipCompanies from "../components/Internships/InternshipCompanies";
---

<Layout title="TCET - Training and Placement Cell" description="The official Website of Training and Placement Cell of Thakur College of Engineering and Technology">
  <main>
    <section class="block space-y-6 md:space-y-12 w-full px-8 md:px-16">
      <InternshipHero />
    </section>
    <section class="block space-y-6 md:space-y-12 w-full px-8 md:px-16">
      <InternshipCompanies />
    </section>
  </main>
</Layout>
