---
import Layout from "../layouts/Layout.astro";
import InternshipHero from "../components/Internships/InternshipHero.astro";
import InternshipCompanies from "../components/Internships/InternshipCompanies";
import Companies from "../components/Companies/index.astro"
import type { CompanyCardType } from "../env";
import AttendanceChart from "../components/AttandanceChart";

const companies: CompanyCardType[] = [
  // Row 1
  {
    name: "Accenture",
    img: "accenture.png",
  },
  {
    name: "Amazon",
    img: "amazon.png",
  },
  {
    name: "CHEGG INDIA",
    img: "chegg.png",
  },
  {
    name: "CODECLAUSE",
    img: "codeclause.png",
  },
  {
    name: "Coursera",
    img: "coursera.svg",
  },
  // Row 2
  {
    name: "DIGIKLUG SOLUTIONS ",
    img: "digiklug.png",
  },
  {
    name: "ELIXIR EQUITIES",
    img: "elixir-equities.png",
  },
  {
    name: "EMERTXE",
    img: "emertx.png",
  },
  {
    name: "FORAGE - BLACKBIRD",
    img: "forage.png",
  },
  {
    name: "JP MORGAN CHASE & CO.",
    img: "jpmc.png",
  },
  // Row 3
  {
    name: "JP INFRA",
    img: "jpinfra.png",
  },
  {
    name: "LETS GROW MORE",
    img: "lets-grow-more.png",
  },
  {
    name: "LARSEN & TURBO",
    img: "L&T.png",
  },
  {
    name: "TATA BOEING AEROSPACE",
    img: "tata-boeing.png",
  },
  {
    name: "TATA MOTORS COMMERCIAL VEHICLE",
    img: "tatamotos.png",
  },
  // Row 4
  {
    name: "THE SPARKS FOUNDATION",
    img: "sparks.png",
  },
];
const companyRelation = {
  labels: ['2018-19', '2019-20', '2020-21', '2021-22', '2022-23*'],
  datasets: [
    {
      label: 'No of companies',
      data: [135, 117, 300, 875, 287],
      backgroundColor: 'rgba(54, 162, 235, 0.5)',
      borderColor: 'rgba(54, 162, 235, 1)',
      borderWidth: 1
    }
  ]
};

const studentRelation = {
  labels: ['2018-19', '2019-20', '2020-21', '2021-22', '2022-23*'],
  datasets: [
    {
      label: 'No of students attended',
      data: [1085, 1562, 2563, 3337, 1302],
      backgroundColor: 'rgba(54, 236, 54, 0.5)',
      borderColor: 'rgba(54, 236, 54, 1)',
      borderWidth: 1
    }
  ]
};



---

<Layout title="TCET - Training and Placement Cell" description="The official Website of Training and Placement Cell of Thakur College of Engineering and Technology">
  <main>
    <section class="block space-y-6 md:space-y-12 w-full px-8 md:px-16">
      <InternshipHero />
    </section>
    <section class="flex flex-wrap" >
      <AttendanceChart client:only="react" data={companyRelation} title="Companies Provding Internship" />
      <AttendanceChart client:only="react" data={studentRelation} title="Students with Internship" />
    </section>
    <section class="block space-y-6 md:space-y-12 w-full px-8 md:px-16">
      <!-- <InternshipCompanies /> -->
      <Companies title="Companies Offering Internships" companies={companies} background="radial-gradient(42.83% 57.11% at 50% 100%, rgba(255, 225, 185, 0.7) 0%, rgba(255, 245, 232, 0.3) 100%)" />
    </section>
  </main>
</Layout>
