---
import Layout from "../layouts/Layout.astro";
import SuperStarPerformers from "../components/PlacedStudents/SuperStarPerformers/index.astro";
import StarPerformers from "../components/PlacedStudents/StarPerformers/index.astro";
import AllStarPerformers from "../components/PlacedStudents/AllStarPerformers/index.astro";


const allStarPerformers = [
  {
    batch:2023,
    link:"/studentPlaced/file.pdf",
    color:"green"
  },
  {
    batch:2022,
    link:"/studentPlaced/file.pdf",
    color:"red"
  },
  {
    batch:2021,
    link:"/studentPlaced/file.pdf",
    color:"blue"
  },
  {
    batch:2020,
    link:"/studentPlaced/file.pdf",
    color:"orange"
  },
  {
    batch:2019,
    link:"/studentPlaced/file.pdf",
    color:"pink"
  },

]
---

<Layout
  title="TCET - Training and Placement Cell"
  description="The official Website of Training and Placement Cell of Thakur College of Engineering and Technology"
>
  <main>

    <!-- Super Star Performers -->
    <section class="block w-full">
      <SuperStarPerformers />
    </section>

    <!-- Year Wise Star Performers -->
    <section class="block w-full">
      <StarPerformers />
    </section>

    <!-- All Star Performers  -->
    <section class="block w-full">
      <AllStarPerformers allStarPerformers={allStarPerformers} />
    </section>

  </main>
</Layout>
