---
import Layout from "../layouts/Layout.astro";
import SuperStarPerformers from "../components/PlacedStudents/SuperStarPerformers/index.astro";

const superStarPerformers = [
    {
        img:"/studentPlaced/student_image.jpg",
        batch:2022,
        name:"Student Name",
        company:"Meta",
        branch:"Branch Name",
        package:"30 LPA"    
    },
    {
        img:"/studentPlaced/student_image.jpg",
        batch:2022,
        name:"Student Name",
        company:"Meta",
        branch:"Branch Name",
        package:"30 LPA"
    },
    {
        img:"/studentPlaced/student_image.jpg",
        batch:2022,
        name:"Student Name",
        company:"Meta",
        branch:"Branch Name",
        package:"30 LPA"
    },
    {
        img:"/studentPlaced/student_image.jpg",
        batch:2022,
        name:"Student Name",
        company:"Meta",
        branch:"Branch Name",
        package:"30 LPA"
    },
    {
        img:"/studentPlaced/student_image.jpg",
        batch:2022,
        name:"Student Name",
        company:"Meta",
        branch:"Branch Name",
        package:"30 LPA"
    }

];
---

<Layout
  title="TCET - Training and Placement Cell"
  description="The official Website of Training and Placement Cell of Thakur College of Engineering and Technology"
>
  <main class="mx-12 mt-6">
    <!-- <section class="block space-y-6 md:space-y-12 w-full px-8 md:px-16">
      <TrainingHero />
      <ProfessionalBodies />
    </section>
    <TcetOpenSource />
    <section class="block space-y-6 md:space-y-12 w-full px-8 md:px-16">
      <HugeEvents />
    </section> -->
    <section class="block w-full">
        <SuperStarPerformers superStarPerformers={superStarPerformers} />
    </section>
  </main>
</Layout>
