---
import Layout from "../layouts/Layout.astro";
import ProfessionalBodies from "../components/ProfessionalBodies.jsx"
---

<Layout
  title="TCET - Training and Placement Cell"
  description="The official Website of Training and Placement Cell of Thakur College of Engineering and Technology"
>
  <main class="block w-full" >
    <ProfessionalBodies client:load/>
  </main>
</Layout>
