---
import Layout from "../layouts/Layout.astro";
import TrainingHero from "../components/TrainingHero/index.astro";
---

<Layout title="Training | TCET - Training and Placement Cell" description="The official Website of Training and Placement Cell of Thakur College of Engineering and Technology">
  <main class="block w-full">
    <TrainingHero  />
  </main>
</Layout>
