---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/TrainingHero";
---

<Layout title="TCET - Training and Placement Cell" description="The official Website of Training and Placement Cell of Thakur College of Engineering and Technology">
  <main class="block w-full">
    <Hero client:load />
  </main>
</Layout>
