---
import Hero from "../../components/EventPageComponent/Hero/hero";
import Layout from "../../layouts/Layout.astro";
import Objective from "../../components/EventPageComponent/Objective/index.astro";
import Attandance from "../../components/EventPageComponent/AttandanceChart/index.astro";
import Testimonial from "../../components/EventPageComponent/Testimonials/index.astro";
import type { EventType } from "../../env";

export function getStaticPaths() {
  const data: EventType[] = [
    {
      title: "Aptitude Training",
      slug: "aptitude-training",
      purpose: `
    The main purpose of this program is to make students employable by providing them training on 
    aptitude skills and soft skills. Under this, we conduct various mock activities like Aptitude test,
     Group discussion and personal interviews and more! 
        `,
      objective: `
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus eum excepturi veniam aperiam! 
            Iure consectetur aspernatur laboriosam numquam praesentium minima at quibusdam. Magni maiores, 
            delectus autem ipsum quam quidem quaerat?
        `,
      photos: [
        { img: "EventPage.png", alt: "image1" },
        { img: "EventPage.png", alt: "image2" },
        { img: "EventPage.png", alt: "image3" },
      ],
    },
    {
      title: "Student Development Program",
      slug: "student-development-program",
      purpose: `
    The main objective is to enhance students overall personality and to make them aware
     about the latest updates and hands-on experience of latest technology. It gives an 
     exposure of company work culture. 
        `,
      objective: `
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus eum excepturi veniam aperiam! 
            Iure consectetur aspernatur laboriosam numquam praesentium minima at quibusdam. Magni maiores, 
            delectus autem ipsum quam quidem quaerat?
        `,
      photos: [
        { img: "EventPage.png", alt: "image1" },
        { img: "EventPage.png", alt: "image2" },
        { img: "EventPage.png", alt: "image3" },
      ],
    },
  ];

  return data.map((d) => ({
    params: { event: d.slug },
    props: { d },
  }));
}
interface Props extends EventType {}
const { event } = Astro.params;
const { title, purpose, objective, photos } = Astro.props;
---

<Layout
  title="TCET - Training and Placement Cell"
  description="The official Website of Training and Placement Cell of Thakur College of Engineering and Technology"
>
  <section
    class="block space-y-6 md:space-y-12 lg:space-y-24 w-full px-8 md:px-16"
  >
    <Hero heroSlideObj={photos} />
  </section>
  <Objective />
  <section
    class="block space-y-6 md:space-y-12 lg:space-y-24 w-full px-8 md:px-16"
  >
    <Attandance />
    <Testimonial />
  </section>
</Layout>
