---
---

<div class="flex flex-col p-3 justify-center sm:flex-row">
  <div class="flex flex-col justify-center align-middle sm:w-2/6">
    <div class="font-semibold text-2xl xl:text-3xl font-Inter pb-2 uppercase">
      professional student bodies of training and placement cell
    </div>
    <div class="text-slate-700 font-Inter text-lg">
      Working together for a better Future!!
    </div>
  </div>
  <div class="md:flex-col sm:w-3/5 mt-4">
    {/* Shastra */}
    <div
      class="flex justify-left xl:justify-center gap-x-4 items-center bg-gray-50 rounded-lg p-6"
    >
      <img
        class="w-10 object-contain"
        src={"../../logos/tcet_shastra.png"}
        alt="tcet_shastra"
      />
      <span class="text-lg ">TCET Shastra Coding Club</span>
    </div>
    <div
    class="flex flex-col xl:flex-row mt-2  gap-2"
    >
      {/* GFG */}
      <div
        class="flex justify-left gap-x-4 items-center  bg-gray-50 rounded-lg p-6 w-full "
      >
        <img
          class="w-10 object-contain"
          src={"../../logos/tcet_gfg.png"}
          alt="tcet_gfg"
        />
        <span class="text-lg ">Geeks For Geeks Student Club</span>
      </div>
      {/* GDSC */}
      <div
        class="flex justify-left gap-x-4 items-center mt-2 sm:mt-0  bg-gray-50 rounded-lg p-6 w-full"
      >
        <img
          class="w-10   object-contain"
          src={"../../logos/tcet_gdsc.png"}
          alt="tcet_gdsc"
        />
        <span class="text-lg ">Google Developer Student Club</span>
      </div>
    </div>
  </div>
</div>
