---
---

<div class="flex flex-col md:flex-row md:justify-center gap-y-4">
  <div class="flex flex-col md:w-1/2">
    <div
      class="py-3 pl-3 text-3xl font-title bg-blue-50 rounded-lg text-blue-600 "
    >
      Solving for India Hackathon - GFG-TCET
    </div>
    <div>
      <img
        class="mt-4 object-contain w-full rounded-t-xl"
        src={"../../events/pic_1.png"}
        alt="pic_1"
      />
    </div>
    <div
      class="bg-blue-100 text-slate-700 font-Inter text-sm sm:text-base rounded-b-xl p-4"
    >
      Coding tests were being taken to develop problem solving skills of
      students and to enhance their understanding of data structures and
      algorithms (DSA) in order to prepare them for interviews.
    </div>
  </div>

  <div class="flex flex-col mt-4 md:mt-0 md:ml-8 md:w-1/2">
    <div
      class="py-3 pl-3 text-3xl font-title bg-green-50 rounded-lg text-green-700"
    >
      Hacktoberfest - GDSC-TCET
    </div>
    <div>
      <img
        class="mt-4 object-contain w-full rounded-t-xl"
        src={"../../events/pic_2.png"}
        alt="pic_1"
      />
    </div>
    <div
      class="bg-green-100 text-slate-700 font-Inter text-sm sm:text-base rounded-b-xl p-4"
    >
      College level Hacktoberfest event was conducted to encourage students to
      contribute to open source projects and to learn about the open source
      community.
    </div>
  </div>
</div>
