---
---

<div class="mt-4 lg:mt-8 2xl:mt-12 py-2 xl:py-4 2xl:py-8 px-8 md:px-16 border-t bg-slate-100">
  <div
    id="homepage-footer"
    class="flex justify-around gap-4 items-center font-sans flex-col md:flex-row"
  >
    {/* Map And Address */}
    <div class="w-full lg:w-1/3 xl:w-1/3 m-2">
      <div>
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3767.7457229439237!2d72.87241691481825!3d19.20630535285474!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be7b0e57647569d%3A0xc0aec329c82d3555!2sThakur%20College%20of%20Engineering%20and%20Technology!5e0!3m2!1sen!2sin!4v1680794472903!5m2!1sen!2sin"
          style={{ border: 0, width: "100%", height: "27vh" }}
          loading="lazy"
          referrer-policy="no-referrer-when-downgrade"></iframe>
      </div>
      <div class="mt-4 text-sm">
        <p class="text-justify">
          Thakur College Of Engineering And Technology. A-Block, Thakur
          Educational Campus, Shyamnarayan Thakur Marg, Thakur Village,
          Kandivali(E). Mumbai - 400101.
        </p>
      </div>
    </div>

    {/* Nav as */}
    <div class="mt-10 md:mt-0 w-full lg:w-1/3 m-2" >
      <div class="grid grid-rows gap-2 text-left md:text-center">
        <a class="hover:underline" href="/about">Home</a>
        <a class="hover:underline" href="/download">Download</a>
        <a class="hover:underline" href="/media">Media</a>
        <a class="hover:underline" href="/news">News</a>
        <a class="hover:underline" href="/mandatory-disclosure"
          >Mandatory Disclosure</a
        >
        <a class="hover:underline" href="/disclaimer">Disclaimer</a>
        <a class="hover:underline" href="/content-policy">Content Policy</a>
      </div>
    </div>
    {/* Contacts and CopyRight */}
    <div class="w-full lg:w-1/3 mt-10 md:mt-0 m-2">
      <div class="text-base">
        <div>
          <img class="inline mr-2" src="/misc/phone.svg" alt="phone" />
          <p class="inline">
            <a class="underline" href="tel:022-28461891"> 022 - 28461891</a>{
              " "
            }
            /{" "}
            <a class="underline" href="tel:022-67308000"> 022 - 67308000</a>
            ,{" "}
            <a class="underline" href="tel:022-67308106"> 67308106</a>{" "}
            /{" "}
            <a class="underline" href="tel:022-67308107"> 07</a>
          </p>
        </div>
        <div class="mt-2">
          <img class="inline mr-2" src="/misc/email.svg" alt="email" />
          <p class="inline">
            <a class="underline" href="mailto:tcet.tnp@thakureducation.org">
              tcet.tnp@thakureducation.org
            </a>
          </p>
        </div>
        <div class="mt-2">
          <img class="inline mr-2" src="/misc/website.svg" alt="website" />
          <p class="inline">
            Websites:{" "}
            <a class="underline" href="https://www.tcetmumbai.in">
              www.tcetmumbai.in
            </a>{" "}
            /{" "}
            <a class="underline" href="https://www.thakureducation.org">
              www.thakureducation.org
            </a>
          </p>
        </div>
      </div>
      <div class="mt-8">
        <p class="">
          © 2023 Thakur College of Engineering and Technology. All Rights
          Reserved.
        </p>
      </div>
    </div>
  </div>
</div>
