---
import StarPerformers from './StarPerformers.tsx';

interface Props {
  starPerformers: []
}

const { starPerformers } = Astro.props
---

{
  starPerformers.map((item) => (
    <div class="p-12 border-b">
      <!-- Header  -->
      <div class={`text-center bg-${item.color} text-4xl font-title p-3 rounded-lg`}
      style={{
                  backgroundColor: item.color,
                }}
      >Star Performers {item.batch}</div>
      <!-- Content  -->
      <StarPerformers starPerformers={item.data}  client:load/> 
    </div>
  ))
}

