---
import StarPerformers from './StarPerformers.tsx';

const starPerformers = [
  {
    batch: 2022,
    color: "#FEF3F2",
    data: [
      {
        img: "/studentPlaced/student_image.jpg",
        name: "GHADGE SAYALI",
        branch: "COMP",
        company: "Musigma",
        package: "30 LPA",
      },
      {
        img: "/studentPlaced/student_image.jpg",
        name: "Aniket Singh",
        branch: "IT",
        company: "JP Morgan Chase & Co.",
        package: "14 LPA",
      },
      {
        img: "/studentPlaced/student_image.jpg",
        name: "SHETTY NIDHI",
        branch: "IT",
        company: "JP Morgan Chase & Co.",
        package: "14 LPA",
      },
      {
        img: "/studentPlaced/student_image.jpg",
        name: "THAKUR PRATIK",
        branch: "IT",
        company: "Pepperfry",
        package: "10.08 LPA",
      },
      {
        img: "/studentPlaced/student_image.jpg",
        name: "TAWDE JANHAVI",
        branch: "COMP",
        company: "Pepperfry",
        package: "10.08 LPA",
      },
      {
        img: "/studentPlaced/student_image.jpg",
        name: "YADAV ABHISHEKKUMAR",
        branch: "COMP",
        company: "Toothsi",
        package: "10 LPA",
      },
      {
        img: "/studentPlaced/student_image.jpg",
        name: "MOURYA VISHAL",
        branch: "IT",
        company: "Toothsi",
        package: "10 LPA",
      },
    ],
  },
  {
    batch: 2021,
    color: "#ECFDF3",
    data: [
      {
        img: "/studentPlaced/student_image.jpg",
        name: "PURANIK ANUSHKA",
        branch: "IT",
        company: "MuSigma",
        package: "30 LPA",
      },
      {
        img: "/studentPlaced/student_image.jpg",
        name: "DUBEY GARIMA",
        branch: "COMP",
        company: "MuSigma",
        package: "30 LPA",
      },
      {
        img: "/studentPlaced/student_image.jpg",
        name: "BISWAS PRITAM",
        branch: "COMP",
        company: "Cimpress India",
        package: "12 LPA",
      },
      {
        img: "/studentPlaced/student_image.jpg",
        name: "VAISHNAV JIGAR",
        branch: "IT",
        company: "Cimpress India",
        package: "12 LPA",
      },
      {
        img: "/studentPlaced/student_image.jpg",
        name: "SOLANKI SWATI",
        branch: "IT",
        company: "L&T InfoTech",
        package: "10 LPA",
      },
      {
        img: "/studentPlaced/student_image.jpg",
        name: "BHATT AMITKUMAR",
        branch: "COMP",
        company: "Infosys",
        package: "8 LPA",
      },
      {
        img: "/studentPlaced/student_image.jpg",
        name: "GUPTA SURAJ",
        branch: "COMP",
        company: "Infosys",
        package: "8 LPA",
      },
    ],
  },
  {
    batch: 2020,
    color: "#EBE9FE",
    data: [
      {
        img: "/studentPlaced/student_image.jpg",
        name: "JHA AAKASH",
        // branch: "Branch Name",
        company: "MuSigma",
        package: "21 LPA",
      },
      {
        img: "/studentPlaced/student_image.jpg",
        name: "BHAT VISHAL",
        branch: "",
        company: "MuSigma",
        package: "21 LPA",
      },
      {
        img: "/studentPlaced/student_image.jpg",
        name: "TENDULKAR AMEY",
        // branch: "Branch Name",
        company: "VPS Techub",
        package: "14.44 LPA",
      },
      {
        img: "/studentPlaced/student_image.jpg",
        name: "JHA RAJAN RAVINDRA BABY",
        // branch: "Branch Name",
        company: "Dream11",
        package: "12 LPA",
      },
      {
        img: "/studentPlaced/student_image.jpg",
        name: "PAL RAHUL",
        // branch: "Branch Name",
        company: "Dream11",
        package: "12 LPA",
      },
      {
        img: "/studentPlaced/student_image.jpg",
        name: "Student Name6",
        branch: "SRUTHI HARISH",
        company: "TCS",
        package: "23 Lakhs",
      },
      {
        img: "/studentPlaced/student_image.jpg",
        name: "SRUTHI HARISH JAYASHREE ",
        // branch: "Branch Name",
        company: "JustDial",
        package: "23 Lakhs",
      },
    ],
  },
  {
    batch: 2019,
    color: "#FCE7F6",
    data: [
      {
        img: "/studentPlaced/student_image.jpg",
        name: "AWASTHI ANAY",
        branch: "COMP",
        company: "MuSigma",
        package: "21 LPA",
      },
      {
        img: "/studentPlaced/student_image.jpg",
        name: "SINGH AKSHAY",
        branch: "E&TC",
        company: "Byju's",
        package: "10 LPA",
      },
      {
        img: "/studentPlaced/student_image.jpg",
        name: "gupta gaurav",
        branch: "IT",
        company: "Byju's",
        package: "10 LPA",
      },
      {
        img: "/studentPlaced/student_image.jpg",
        name: "WARUDKAR PRADYUMNA",
        branch: "MECH",
        company: "Crimson Intrective",
        package: "8 LPA",
      },
      {
        img: "/studentPlaced/student_image.jpg",
        name: " KOUL CHIRANJEV",
        branch: "COMP",
        company: "TCS",
        package: "7.3 LPA",
      },
      {
        img: "/studentPlaced/student_image.jpg",
        name: "CHITRODA VRUNDALI",
        branch: "IT",
        company: "Oracle",
        package: "6.40 LPA",
      },
      {
        img: "/studentPlaced/student_image.jpg",
        name: "DOSHI BHAVYA",
        branch: "COMP",
        company: "Oracle",
        package: "6.40 LPA",
      },
    ],
  },
];
---

{
  starPerformers.map((item) => (
    <div class="p-12 border-b">
      <!-- Header  -->
      <div class={`text-center bg-${item.color} text-4xl font-title p-3 rounded-lg`}
      style={{
                  backgroundColor: item.color,
                }}
      >Star Performers {item.batch}</div>
      <!-- Content  -->
      <StarPerformers starPerformers={item.data}  client:load/> 
    </div>
  ))
}

