---
import StarPerformers from './StarPerformers.tsx';

const starPerformers = [
  {
    batch: 2022,
    color: "#FEF3F2",
    data: [
      {
        img: "/Students/SayaliGhadge.jpg",
        name: "GHADGE SAYALI",
        branch: "COMP",
        company: "Musigma",
        package: "30 LPA",
      },
      {
        img: "/Students/AniketSingh.jpg",
        name: "Aniket Singh",
        branch: "IT",
        company: "JP Morgan Chase & Co.",
        package: "14 LPA",
      },
      {
        img: "/Students/NidhiShetty.png",
        name: "SHETTY NIDHI",
        branch: "IT",
        company: "JP Morgan Chase & Co.",
        package: "14 LPA",
      },
      {
        img: "/Students/ChandanMishra.jpg",
        name: "MISHRA CHANDAN",
        branch: "COMP",
        company: "Pepperfry",
        package: "10.08 LPA",
      },
      {
        img: "/Students/JanhaviTawde.jpg",
        name: "TAWDE JANHAVI",
        branch: "COMP",
        company: "Pepperfry",
        package: "10.08 LPA",
      },
      {
        img: "/Students/VishalMourya.jpg",
        name: "MOURYA VISHAL",
        branch: "IT",
        company: "Toothsi",
        package: "10 LPA",
      },
      {
        img: "/Students/AnkitTiwari.jpg",
        name: "TIWARI ANKIT",
        branch: "IT",
        company: "IDFC FIRST BANK",
        package: "9.62 LPA",
      },
    ],
  },
  {
    batch: 2021,
    color: "#ECFDF3",
    data: [
      {
        img: "/Students/Yash Bhatt.jpg",
        name: "BHATT YASH",
        branch: "IT",
        company: "MuSigma",
        package: "30 LPA",
      },
      {
        img: "/Students/GarimaDubey.jpeg",
        name: "DUBEY GARIMA",
        branch: "COMP",
        company: "MuSigma",
        package: "30 LPA",
      },
      {
        img: "/Students/Swati Dubey.jpeg",
        name: "DUBEY SWATI",
        branch: "COMP",
        company: "Mu Sigma",
        package: "30 LPA",
      },
      {
        img: "/Students/Jigar Vaishnav.jpeg",
        name: "VAISHNAV JIGAR",
        branch: "IT",
        company: "Cimpress India",
        package: "12 LPA",
      },
      {
        img: "/Students/swati solanki.jpg",
        name: "SOLANKI SWATI",
        branch: "IT",
        company: "L&T InfoTech",
        package: "10 LPA",
      },
      {
        img: "/Students/Dheeraj Poojary.jpg",
        name: "POOJARY DHEERAJ",
        branch: "IT",
        company: "L&T InfoTech",
        package: "8 LPA",
      },
      {
        img: "/Students/SurajGupta.jpg",
        name: "GUPTA SURAJ",
        branch: "COMP",
        company: "Infosys",
        package: "8 LPA",
      },
    ],
  },
  {
    batch: 2020,
    color: "#EBE9FE",
    data: [
      {
        img: "/Students/AakashJha.jpg",
        name: "JHA AAKASH",
        // branch: "Branch Name",
        company: "MuSigma",
        package: "21 LPA",
      },
      {
        img: "/Students/HarshitaKhandelwal.jpeg",
        name: "KHANDELWAL HARSHITA",
        // branch: "Branch Name",
        company: "MuSigma",
        package: "21 LPA",
      },
      {
        img: "/Students/RahulPal.jpg",
        name: "PAL RAHUL",
        // branch: "Branch Name",
        company: "Dream11",
        package: "12 LPA",
      },
      {
        img: "/Students/SruthiHarish.jpeg",
        name: "SRUTHI HARISH",
        company: "TCS",
        package: "7.30 Lakhs",
      },
      {
        img: "/Students/AnjaliChoudhary.jpeg",
        name: "CHOUDHARY ANJALI",
        // branch: "Branch Name",
        company: "JustDial",
        package: "7 Lakhs",
      },
      {
        img: "/Students/YogeshBharambe.jpg",
        name: "BHARAMBE YOGESH",
        // branch: "Branch Name",
        company: "Capgemini",
        package: "6.8 Lakhs",
      },
      {
        img: "/Students/RohitSharma.jpg",
        name: "SHARMA ROHIT",
        // branch: "Branch Name",
        company: "Capgemini",
        package: "6.8 Lakhs",
      },
    ],
  },
  // {
  //   batch: 2019,
  //   color: "#FCE7F6",
  //   data: [
  //     {
  //       img: "/Students/avatar.webp",
  //       name: "AWASTHI ANAY",
  //       branch: "COMP",
  //       company: "MuSigma",
  //       package: "21 LPA",
  //     },
  //     {
  //       img: "/Students/avatar.webp",
  //       name: "SINGH AKSHAY",
  //       branch: "E&TC",
  //       company: "Byju's",
  //       package: "10 LPA",
  //     },
  //     {
  //       img: "/Students/avatar.webp",
  //       name: "gupta gaurav",
  //       branch: "IT",
  //       company: "Byju's",
  //       package: "10 LPA",
  //     },
  //     {
  //       img: "/Students/avatar.webp",
  //       name: "WARUDKAR PRADYUMNA",
  //       branch: "MECH",
  //       company: "Crimson Intrective",
  //       package: "8 LPA",
  //     },
  //     {
  //       img: "/Students/avatar.webp",
  //       name: " KOUL CHIRANJEV",
  //       branch: "COMP",
  //       company: "TCS",
  //       package: "7.3 LPA",
  //     },
  //     {
  //       img: "/Students/avatar.webp",
  //       name: "CHITRODA VRUNDALI",
  //       branch: "IT",
  //       company: "Oracle",
  //       package: "6.40 LPA",
  //     },
  //     {
  //       img: "/Students/avatar.webp",
  //       name: "DOSHI BHAVYA",
  //       branch: "COMP",
  //       company: "Oracle",
  //       package: "6.40 LPA",
  //     },
  //   ],
  // },
];
---

{
  starPerformers.map((item) => (
    <div class="p-12 border-b">
      <!-- Header  -->
      <div class={`text-center bg-${item.color} text-4xl font-title p-3 rounded-lg`}
      style={{
                  backgroundColor: item.color,
                }}
      >Star Performers {item.batch}</div>
      <!-- Content  -->
      <StarPerformers starPerformers={item.data}  client:load/> 
    </div>
  ))
}

