---
import Layout from "../../layouts/Layout.astro";
import Hero from "../../components/EventPageComponent/Hero/index.astro";
import Objective from "../../components/EventPageComponent/Objective/index.astro";
import Attandance from "../../components/EventPageComponent/AttandanceChart/index.astro";
import Testimonial from "../../components/EventPageComponent/Testimonials/index.astro";
---

<Layout
  title="TCET - Training and Placement Cell"
  description="The official Website of Training and Placement Cell of Thakur College of Engineering and Technology"
>
  <section
    class="block space-y-6 md:space-y-12 lg:space-y-24 w-full px-8 md:px-16"
  >
    <Hero />
  </section>
  <Objective />
  <section
    class="block space-y-6 md:space-y-12 lg:space-y-24 w-full px-8 md:px-16"
  >
    <Attandance />
    <Testimonial />
  </section>
</Layout>
