---
import Hero from "./hero";
---

<div>
  <div class="flex items-center flex-wrap">
    <div class="md:w-1/2 pr-8">
      <h1 class="text-[42px] font-title">Purpose</h1>
      <p
        class="lg:text-lg md:text-sm text-xs font-sans font-light text-[#475466]"
      >
        In the present scenario of globalization there is tremendous demand for
        skilled manpower particularly in the area of Engineering and Technology.
        Therefore, Training and Placement (T&P) was set up with a view to
        provide necessary impetus to launch our students into the real world
        where cut-throat competition is the order of the day.
      </p>
    </div>
    <div class="md:w-1/2 w-full h-full lg:mt-0 mt-6"><Hero client:load /></div>
  </div>
</div>
